<div>
    <div>
        <div>
            <div>
                <form {{action 'insertCity' city on='submit' }} class='light'>
                    <div class='input-group'>
                        {{input value=cityName class='light' placeholder='City name'}}

                        <button type="submit" >Add City</button>
                    </div>
                </form>
            </div>
            <div>
                {{#link-to "cities"}}
                <span {{action 'clear'}}>Clear All</span>
                {{/link-to}}
            </div>
        </div>
        <div>{{outlet}}</div>
        {{#each cities key='id' as |cityItem |}} {{city-weather city=cityItem}} {{else}}
        <h1>Nothing to see here</h1>
        {{/each}}
    </div>
    
</div>