<article class='listing'>
    <h3>{{city.name}}</h3>
    <div>
        <div>
            <span>Temp</span>:{{kelvin-to-celsius city.main.temp }}</div>
        <div>
            <span>Humidity</span>:{{humidity city.main.humidity}}</div>
        <div>
            <span>Pressure</span>:{{pressure city.main.pressure}}</div>
    </div>
    <div class='detail '>
        {{#each city.weather as |day|}}
        <div class='detail '>
            <span>Weather</span>: {{day.description}}</div>
        {{/each}}
    </div>
    <div>
        <br>
        <p>
            <div>{{#link-to "cities.delete" city }} Delete with route {{/link-to}}
            </div>
            <br>
            <div> {{#link-to "cities" }}
                <span {{action "deleteSelf" city}}>Delete</span>
                {{/link-to}}</div>
        </p>
    </div>


</article>